body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(images/bg.png);
}

.container {
    text-align: center;
}

.ingredients {
    margin-bottom: 20px;
}

.ingredient {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
    text-align: center;
}

.ingredient img {
    width: 50px;
    height: 50px;
}

.ingredient:hover {
    background-color: #e0e0e0;
}

.burger {
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}

.burger img {
    width: 100px;
}

.bun-top, .bun-bottom {
    margin-bottom: 5px;
    margin-left: 80px;
}

.stack {
    margin: 0; /* Zorgt ervoor dat de ingrediënten dichter op elkaar liggen */
    margin-left: 80px;
}

.stack div {
    margin: -5px 0; /* Vermindert de ruimte tussen gestapelde ingrediënten */
}

#bell {
    width: 100px;
    padding-left: 110px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}